
.nav{
    color: black;
}
.collllll{
    position: absolute;
}

.moadal-btn{
    height: 39px;
    margin-top: 166px;
    margin-left: -160px;
    padding-left: 17px;
    padding-right: 17px;
}
.collapse-btn{
    padding-left: 25px;
    padding-right: 25px;
}